[submodule "proyecto-dos-biblioteca"]
	path = proyecto-dos-biblioteca
	url = https://github.com/santiagodg/proyecto-dos-biblioteca.git
[submodule "fraccion-sobrecargada"]
	path = fraccion-sobrecargada
	url = https://github.com/santiagodg/fraccion-sobrecargada.git
[submodule "proyecto-uno-cine"]
	path = proyecto-uno-cine
	url = https://github.com/santiagodg/proyecto-uno-cine.git
[submodule "cuenta"]
	path = cuenta
	url = https://github.com/santiagodg/cuenta.git
[submodule "persona"]
	path = persona
	url = https://github.com/santiagodg/persona.git
